.header{
    background-color: orange;
    height: 60vh;
    width:100%;

    display:flex;
    align-items: flex-end;
    justify-content: flex-end;

    transition: all 0.3s;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
.current-balance-div{
    transition: all 0.3s;
    font-size: 15em;
    color:white;
    
    
}

